apiVersion: rebellions.ai/v1beta1
kind: RBLNClusterPolicy
metadata:
  labels:
    app.kubernetes.io/name: rbln-npu-operator
  name: rbln-cluster-policy
spec:
  name: rbln
  workloadType: container
  daemonsets: {}
  devicePlugin:
    enabled: true
    registry: docker.io
    image: rebellions/k8s-device-plugin
    version: latest
    imagePullPolicy: IfNotPresent
    hostBinPath: /run/rbln/driver/usr/bin
    resourceList:
      - resourceName: ATOM
        resourcePrefix: rebellions.ai
        productCardNames:
          - RBLN-CA22
          - RBLN-CA25
      - resourceName: REBEL
        resourcePrefix: rebellions.ai
        productCardNames:
          - RBLN-CR03
  draKubeletPlugin:
    enabled: false
    registry: docker.io
    image: rebellions/npu-kubelet-plugin
    version: latest
    imagePullPolicy: IfNotPresent
    priorityClassName: system-node-critical
    driverName: npu.rebellions.ai
    kubeletRegistrarDirectoryPath: /var/lib/kubelet/plugins_registry
    kubeletPluginsDirectoryPath: /var/lib/kubelet/plugins
    healthcheckPort: 51515
  metricsExporter:
    enabled: true
    registry: docker.io
    image: rebellions/rbln-metrics-exporter
    version: latest
    imagePullPolicy: IfNotPresent
  npuFeatureDiscovery:
    enabled: true
    registry: docker.io
    image: rebellions/rbln-npu-feature-discovery
    version: latest
    imagePullPolicy: IfNotPresent
  containerToolkit:
    enabled: true
    registry: docker.io
    image: rebellions/rbln-container-toolkit
    version: latest
    imagePullPolicy: IfNotPresent
  rblnDaemon:
    enabled: true
    registry: repo.rebellions.ai
    image: rebellions/rbln-daemon
    version: 3.0.0
    imagePullPolicy: IfNotPresent
    hostPort: 50051
  sandboxDevicePlugin:
    enabled: false
    registry: docker.io
    image: rebellions/k8s-device-plugin
    version: latest
    imagePullPolicy: IfNotPresent
    vfioChecker:
      image: rebellions/rbln-vfio-manager
      version: latest
    resourceList:
      - resourceName: ATOM_PT
        resourcePrefix: rebellions.ai
        productCardNames:
          - RBLN-CA22
          - RBLN-CA25
  vfioManager:
    enabled: false
    registry: docker.io
    image: rebellions/rbln-vfio-manager
    version: latest
    imagePullPolicy: IfNotPresent
  validator:
    registry: docker.io
    image: rebellions/rbln-npu-operator-validator
    version: latest
    imagePullPolicy: IfNotPresent
