name: CI

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  manifests-check:
    uses: ./.github/workflows/manifests-check.yaml
  code-check:
    uses: ./.github/workflows/go-checks.yaml
  go-tests:
    uses: ./.github/workflows/go-tests.yaml
  go-build:
    uses: ./.github/workflows/go-build.yaml
  image-build:
    needs: [manifests-check, code-check, go-tests, go-build]
    uses: ./.github/workflows/image-build.yaml
    with:
      push-on-build: 'true'
    secrets: inherit
  release-latest-npu-operator-image:
    needs: [image-build]
    runs-on: ubuntu-latest-rbln
    steps:
      - name: Set environment variables
        id: vars
        run: |
          COMMIT_SHORT_SHA=${GITHUB_SHA:0:8}
          echo "OPERATOR_VERSION=${COMMIT_SHORT_SHA}" >> $GITHUB_ENV
          echo "OPERATOR_IMAGE=docker.io/rebellions/rbln-npu-operator" >> $GITHUB_ENV
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: install regctl
        run: |
          export REGCTL_VERSION=v0.9.1
          curl -sSL https://github.com/regclient/regclient/releases/download/${REGCTL_VERSION}/regctl-linux-amd64 -o /usr/local/bin/regctl
          chmod +x /usr/local/bin/regctl
      - name: Retag npu-operator for Docker Hub
        run: |
          regctl image copy ${OPERATOR_IMAGE}:${OPERATOR_VERSION}-amd64 ${OPERATOR_IMAGE}:latest
